/* You can add global styles to this file, and also import other style files */

@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
    color: white;
    border: 0;
    background: #fd746c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
 }

.main-container{
  margin-top: 20px
}
.example-card {
  width: 400px;
  font-family: 'Fira Sans', sans-serif;
}

.example-header-image {
  background-image: url('https://scontent-dft4-3.cdninstagram.com/t51.2885-19/s150x150/15877178_1812678708985187_3820032784525688832_a.jpg');
  background-size: cover;
}

.container-fluid{width: 90%; margin: 0 auto; margin-top: 5%; }
    .card{border: none; background: none; }
        .card-title{color: #2c3e50; font-size: 3em; font-weight: 700;}
            .card-subtitle{color: #2c3e50;font-size: 1em; }
            .card-text{margin-top: .8em; font-size: 2.5em; font-weight: 100; }
            .card-autor{width: 100%; text-align: right; color: #2c3e50; }
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
